*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #eeeeee;
    /* font-family: 'Work Sans', sans-serif; */
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    padding-bottom: 20px;
        
}
/* .right_side{
    max-height: 100px;
} */
header{
    background-color:#282F36;
}

header::after{
    content: '';
    display: table;
    clear: both;
}
#ayuda{
    padding-right: 100px;
}
#logo{
    opacity: 1;
    transition: 0.9s;
}
.infoTicLogo{
    display: flex;
    float: left;
    /* padding-top: 25px; */
    padding-left: 1.875rem;
    color: #F3F0ED;

}

.infoTicTitle{
    text-align: center;
    color: #F3F0ED;
    letter-spacing: 1.2px;
    font-size: calc(40px + (40 - 30) * ((100vw - 300px) / (1600 - 300)));
    /* padding-left: 425px; */
}
.infoTicDesc{
    text-align: center;
    color: #F3F0ED;
    font-weight: 100;

}

/*for hover stuff*/
/* .logo_text{
    padding-left: 20px;
    display: flex;
    text-align: center;
    opacity: 0;
    transition: .4s;
} */ 
.middle_side{
    display: flex;
    justify-content: center;
}
.noticia{
    /* padding: 2rem; */
    padding-top: 5rem;
    margin: 15vh 17vw;
    
    background-color: white;
    box-shadow: 10px 10px 20px 5px #585858;
    
}
.separador{
    width: 1vw;
    
}
.img_div_type1{
    padding-left: 3.5vw;
    
}

.img_div_type2{
    padding-right: 3.5vw;
    
}

.noticia_img{
    box-shadow: 10px 10px 10px rgb(68, 68, 68);
    object-fit: cover;
    float: left;
    width: 17vw;
    height: 17vw;
}
.noticia_img_type2{
    box-shadow: 10px 10px 5px rgb(58, 58, 58);
    object-fit: cover;
    float: right;
    width: 17vw;
    height: 17vw;
}

/* nav{
    
    color: #F3F0ED;
    padding-right: 1.25rem;
    
}
nav li{
    display: inline-flex;
    float: right;
    transition: .8s;
    padding: 2.3rem 0.93rem;
    position: relative;
    padding-top: 20px; 

} */
nav a{
    color:#F3F0ED;
    text-decoration: none;
    
}

nav h2{
    font-weight: 200;
    font-size: 1.1em;
}

nav li:hover{
    background-color: rgb(71, 79, 87);
    transition: all .4s ease-in-out;
} */

.liThing{
    text-decoration: none;
}

.dengue_main{
    float: right;
    padding-right: 50px;
}
.title_dengue{
    text-align: right;
    padding-bottom: 3.125rem;
    padding-left: 10vw;
    color: #282F36;
    font-size: calc(25px + (35 - 25) * ((100vw - 700px) / (1600 - 700)));
}
.datos_dengue{
    text-align: right;
    font-size: x-large;
    color: #282F36;
    font-size: calc(14px + (35 - 14) * ((100vw - 800px) / (1600 - 300)));
}

.esi_main{
    float: right;
    padding-left: 50px;
}
.title_esi{
    text-align: left;
    padding-right: 10vw;
    padding-bottom: 3.125rem;
    color: #282F36;
    font-size: calc(25px + (35 - 25) * ((100vw - 700px) / (1600 - 700)));
}
.datos_esi{
    text-align: left;
    font-size: x-large;
    color: #282F36;
    font-size: calc(14px + (35 - 14) * ((100vw - 800px) / (1600 - 300)));
}

.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    right: 0;
    background-color: #282F36; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
}
  
  
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
  
.sidenav a:hover {
    color: #f1f1f1;
}
  
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.span{
    color: whitesmoke;
    /*background-color: white;*/
    text-align: right;
    padding: 27px 60px 10px 10px;
    font-size: 30px;
    float: right;
    cursor: pointer;
}
.prueba{
    padding: 20px 10px;
    background-color: rgb(12, 143, 7);
    margin-top: 35px;
}

.prueba2{
    padding: 20px 80px;
    background-color: rgb(129, 43, 43);
    margin-top: 35px;
}

.prueba3{
    padding: 20px 10px;
    background-color: rgb(231, 143, 60);
    margin-top: 35px;
}

.prueba4{
    padding: 20px 10px;
    background-color: rgb(57, 34, 189);
    margin-top: 35px;
}

.algo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.fecha{
    font-family: 'Lato', sans-serif;
    color: #f1f1f1;
    font-size: 20px;
    letter-spacing: 1.1px;
    padding-top: 37px;
    padding-left: 30px;
}

/* -------------DENGUE HTML-------------- */
.noticiaGeneral{
    margin: 0 11vw 0 11vw;
    padding-top: 10vh;
    background-color: white;
    padding-left: 70px;
    position: absolute;
}
.dng_title{
    
    padding-bottom: 20px;
}
.dng_noticia_imagen{
    width: 40vw;
    height: auto;
}
.noticiaDengueMain{      
    display: grid;
    grid-template-columns: 2fr 0.1fr 1fr
}
.noticiaTexto{
    padding-right: 2vw;
    
}
.epigrafe{
    padding-bottom: 15px;
    font-weight: 100;
    color: grey;
    
}
.noticiaTexto p{
    line-height: 1.7em;
    padding: 15px 0;
    font-size: calc(14px + (23 - 14) * ((100vw - 800px) / (1600 - 300)));
}
.source_div {
    display: flex;
}
.separadorA{
    background-color: black;
    width: 3px;
    margin-left: 30px;
    height: 100%;
}
.backHome{
    text-decoration: none;
}
.WEALTER{
    width: 90px;
    height: 90px;
    padding-top: 5px;
    padding-left: 210px;
}
.WEALTERa{
    width: 90px;
    height: 90px;
    padding-top: 5px;
    
}
.dng_left_side{
    display: flex;
}
.stuff{
    padding-top: 7px;
    padding-left: 20px;
}
.noticiaTexto h3{
    padding-bottom: 50px;
}

.dengueNoticiaPopUp{
    padding: 20px 10px;
    margin: 100px 20px;
    border-radius: 5px;
    
    box-shadow: 1px 1px 10px grey;

}
.dengueNoticiaPopUp h3{
    text-align: center;
    font-weight: 600;
    font-size: x-large;

}
.popUpIn{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}
.dengueNoticiaPopUp img{
    width: 200px;
    padding-top: 10px;
    padding-left: 20px;
    height: auto;
    object-fit: cover;
    
}


@media (max-width: 768px){
    .dengueNoticiaPopUp img{
        padding-left: 30px;
    }
}

.dengueNoticiaPopUp h5{
    padding: 15px 10px 20px 10px ;
    font-weight: 500;
    line-height: 1.4em;
    text-align: center;
}

.separadorPopUp{
    width: 70%;
    height: 2px;
    margin-left: 60px;
    background-color: red;
}


.ey{
    padding-top: 95vh;
}